@import "~bootstrap/scss/bootstrap";

$purpleColor: rgba(47, 24, 68, 0.665);

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  font-size: 5vh;
  padding: 20px 15px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: $purpleColor;
  mix-blend-mode: darken;
  box-shadow: 0 8px 8px 0 rgba(161, 24, 24, 0.2),
    0 6px 20px 0 rgba(50, 111, 223, 0.19);
}

.tableContainer {
  width: 60%;
  @media screen and (max-width: 580px) {
    width: 100%;
  }
}

table {
  margin: 40px 0;
  text-align: center;
}

table td {
  transition: background-color 0.5s ease;
}

table td:nth-child(1):hover {
  cursor: pointer;
  background-color: $purpleColor;
  color: white;
}

table th {
  color: black;
  font-weight: 800;
  font-size: 28px;

  @media screen and (max-width: 580px) {
    font-size: 18px;
  }
}

table tr {
  font-size: 14px;
  font-weight: bold;
  @media screen and (max-width: 580px) {
    font-size: 14px;
  }
}

table tr:nth-child(odd) {
  color: $purpleColor;
}
